
.title-aboutus{
    height: 750px;
    /* background-image: url(../Image/aboutus/hero-image/1.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: black;
    
}
#bootstrap-overrides .navbar-dark .navbar-nav .nav-link {
    color: white;
}
.hero-text{
    position: relative;
    left: 656px;
    top: 106px;
    transition: none 0s ease 0s;
    cursor: move;
    color: white;
    display: inline-block;
    font-family: Sacramento;
   
}
.hero-text h1{
    font-size: 140px;
    position: relative;
    right: 95px;
    color: #FDDC03;
}

/* TITLE SECTION ENDS HERE  */

/* ABOUT US SECTION STARTS HERE  */

#about-us{
    background: black;
    height: 605px;
}
.about-us-image{
    background: black;
    height: 600px;
}
.about-us-image img{
    width: 553px;
    height: 536px;
    position: relative;
    left: 151px;
    top: 26px;
    transition: none 0s ease 0s;
    cursor: move;
}

.heading{
    position: relative;
    width: 83px;
    height: 23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: white;
    /* background: black; */
    left: 821px;
    top: -529px;

}

.sub-heading{
    position: relative;
    width: 428px;
    height: 118px;
    left: 821px;
    bottom: 519px;
   
}

.sub-heading h1{
    font-family: Sacramento;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: white;
}

#about-us-content-id{
   
    position: relative;
    width: 463px;
    height: 38px;
    left: 821px;
    bottom: 507px;

}

.about-us-content1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: white;
}

.about-us-content2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: white;
}
#about-us-content-id-1{
    display: inline-block;
    position: relative;
    left: 821px;
    bottom: 507px;
}
#about-us-content-id-2{
    display: inline-block;
    position: relative;
    left: 821px;
    bottom: 507px;
}
.about-us-content3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: white;
}

#about-us-content-id-3{
    display: inline-block;
    position: relative;
    left: 821px;
    bottom: 507px;
    text-align: justify;
  text-justify: auto;
}
.about-us-content4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: white;
}


/* ABOUT US TEAM STARTS HERE  */

#about-us-team{
    background: black;
    height: 605px;
}

.about-us-team-image img{
    width: 500px;
    /* text-align: left; */
    position: relative;
    left: 900px;
    top: 17px;
}

.heading-team{
    position: relative;
    left: 122px;
    top: -407px;
    width: 218px;
    height: 59px;
    color: white;
}

.heading-team h1{
    font-family: Sacramento;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    line-height: 59px;
}

#team-content{
    position: relative;
    width: 496px;
    height: 76px;
    bottom: 375px;
    left: 123px;
}

.team-content-1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: white;
}

#team-content-1{
    position: relative;
    width: 496px;
    height: 76px;
    bottom: 543px;
    left: 123px;
    display: inline-block;
}

.team-content-2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: white;
}

#team-content-2{
    position: relative;
    width: 477px;
    height: 76px;
    bottom: 484px;
    right: 378px;
    display: inline-block;
}

.team-content-3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: white;
    text-align: justify;
}

#team-content-3{
    position: relative;
    bottom: 262px;
    right: 859px;
    display: inline-block;
    text-align: justify;
  text-justify: auto;
}

.team-content-4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: white;
}


#testimonials{
    background-color: black;
}

#customer-testimonial {
    padding: 40px 0;
  }
  
  .testimonial img {
    max-width: 159px;
    margin: 0 auto 0 auto;
    border: 2px solid black;
    padding: 5px;
    margin-bottom: 13px;
    border-radius: 100px;
  }
  
  .testimonial blockquote {
    border: 0;
    font-size: italic;
    color: white;
    padding: 5px 150px;
    position: relative;
  }
  
  .testimonial blockquote::before,
  .testimonial blockquote::after {
    font-size: 80px;
    font-size: normal;
    line-height: 1;
    width: 30px;
    height: 30px;
    position: absolute;
  }
  
  .testimonial blockquote::before {
    content: "\201C";
    top: 0;
    left: 100px;
  }
  
  .testimonial blockquote::after {
    content: "\201D";
    bottom: 0;
    right: 100px;
  }
  
  .testimonial-author p {
    color: white;
    font-size: 17px;
  }
  
  .testimonial-authoe p strong {
    display: block;
  }
  
  .test-heading {
    color: white;
    transform: uppercas;
    margin-top: 43px;
  }
  

  footer {
    background: black;
    /* background: -webkit-linear-gradient(59deg, #3A6073, #16222A); */
    /* background: linear-gradient(59deg, #3A6073, #16222A); */
    color: white;
    margin-top:100px;
  }
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #FA944B;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
  
  
  /*SOCİAL İCONS*/
  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  /* footer social icons */
  
  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }
  

  .grasshopper{
      width: 30px;
  }