@media (min-width: 320px) {
  .caption {
    position: relative;
    top: 60px;
  }
  .caption h1 {
    font-size: 40px;
    top: 0;
  }
  .logo {
    position: relative;
    left: 19px;
  }
  .tagline {
    font-size: 9px;
    top: 0;
    left: -100px;
  }
  .hero-buttons {
    top: 10px;
  }
  .history-image {
    width: 100%;
  }
  .history {
    height: 1220px;
  }
}

/* 












 */

@media (min-width: 576px) {
  .caption h1 {
    font-size: 50px;
    top: 91px;
  }

  .tagline {
    font-size: 10px;
    top: 33px;
  }

  .hero-buttons {
    top: 79px;
  }

  .image1 {
    display: none;
  }

  .image2 {
    display: none;
  }

  .image3 {
    display: none;
  }

  .history {
    height: 877px;
  }

  .content1 {
    left: 110px;
    top: 15px;
    text-align: center;
    font-size: 12px;
    text-align: center;
  }

  .content2 {
    left: 131px;
    top: 14px;
    text-align: center;
    font-size: 12px;
  }

  .content3 {
    left: 111px;
    top: 10px;
    text-align: center;
    font-size: 12px;
  }

  .content4 {
    left: 80px;
    top: 7px;
    text-align: center;
    font-size: 12px;
  }

  .benefits {
    width: 43%;
    top: -21px;
    left: 195px;
  }

  .benefits-content1 {
    left: 110px;
    top: 4px;
    font-size: 9px;
    text-align: center;
  }

  .benefits-content2 {
    left: 106px;
    top: 21px;
    font-size: 9px;
    text-align: center;
  }

  .benefits-content3 {
    right: -153px;
    top: 36px;
    text-align: center;
    font-size: 9px;
  }

  .benefits-content4 {
    right: -94px;
    bottom: -51px;
    font-size: 9px;
    text-align: center;
  }

  /* Index section ends here  */

  /* About us section starts here  */

  .hero-text {
    left: 298px;
    top: 146px;
    font-size: 50px;
  }

  .hero-text h1 {
    font-size: 50px;
    position: relative;
    right: 95px;
    color: #ffffff;
  }

  .about-us-image img {
    width: 265px;
    height: auto;
    left: 158px;
    top: -233px;
  }

  .heading {
    left: 85px;
  }

  .sub-heading {
    left: 69px;
    text-align: center;
  }

  .about-us-contact1 {
    text-align: center;
    font-size: 15px;
  }

  #about-us-content-id {
    left: 70px;
  }

  #about-us-content-id-1 {
    left: 61px;
    text-align: center;
    font-size: 15px;
  }

  #about-us-content-id-2 {
    left: 70px;
    text-align: center;
  }

  #about-us-content-id-3 {
    left: 91px;
  }

  .about-us-team-image img {
    width: 265px;
    height: auto;
    position: relative;
    left: 153px;
    top: 59px;
  }

  .heading-team {
    left: 175px;
    top: 80px;
    text-align: center;
  }

  #team-content {
    bottom: -84px;
    left: 53px;
    text-align: center;
  }

  #team-content-1 {
    bottom: -91px;
    left: 49px;
    text-align: center;
  }

  #team-content-2 {
    bottom: -67px;
    right: -57px;
    text-align: center;
  }

  #team-content-3 {
    bottom: -52px;
    right: -60px;
    text-align: center;
  }

  #about-us-team {
    background: black;
    height: 857px;
  }

  /* About Section Ends Here  */

  /* Product Section Starts Here  */

  .hero-text-product {
    left: 310px;
    top: 150px;
  }

  .hero-text-product h1 {
    font-size: 50px;
    position: relative;
    right: 95px;
  }
}

@media (min-width: 768px) {
  .content1 {
    left: -33px;
    top: -290px;
    width: 39%;
  }

  .content2 {
    left: 177px;
    top: -306px;
    width: 39%;
  }

  .content3 {
    left: -42px;
    top: -263px;
    width: 42%;
  }

  .content4 {
    left: 155px;
    top: -272px;
    width: 39%;
  }

  .history {
    height: 536px;
  }

  .benefits {
    top: -31px;
    left: 413px;
  }

  .benefits-content1 {
    left: -314px;
    top: -84px;
    font-size: 10px;
  }

  .benefits-content2 {
    left: 28px;
    top: -244px;
    font-size: 10px;
  }

  .benefits-content3 {
    right: 296px;
    top: -150px;
    font-size: 10px;
  }

  .benefits-content4 {
    right: -47px;
    bottom: 121px;
    font-size: 10px;
  }

  #benefits {
    height: 495px;
  }

  /* Index ends  here  */

  /* About us Starts here  */

  .hero-text h1 {
    font-size: 80px;
    right: 45px;
  }

  .about-us-image img {
    width: 310px;
    left: 234px;
    top: -233px;
  }

  .sub-heading {
    left: 91px;
    display: inline-block;
    top: -479px;
  }

  .heading {
    left: 191px;
    display: inline-block;
    top: -591px;
  }

  #about-us-content-id {
    left: 160px;
    display: inline-block;
    top: -431px;
    text-align: center;
  }

  #about-us-content-id-1 {
    left: 155px;
    top: -408px;
  }

  #about-us-content-id-2 {
    left: 161px;
    top: -402px;
  }

  #about-us-content-id-3 {
    left: 191px;
    top: -402px;
    text-align: center;
  }

  .about-us-team-image img {
    width: 310px;
    left: 234px;
  }

  .heading-team {
    left: 279px;
  }

  #team-content {
    left: 128px;
    display: inline-block;
  }

  #team-content-1 {
    left: 130px;
  }

  #team-content-2 {
    right: -139px;
  }

  .team-content-3 {
    text-align: center;
  }

  #team-content-3 {
    right: -140px;
  }

  /* About us Ends here  */

  /* Product starts here  */

  .hero-text-product h1 {
    font-size: 80px;
    right: 50px;
  }

  /* Product Ends Here  */

  /* Footer starts here  */

  .footer-pad {
    position: relative;
    left: -43px;
  }
}

@media (min-width: 992px) {
  .history-image {
    width: 25%;
    position: relative;
    left: -16px;
    top: -17px;
  }

  .benefits {
    top: -39px;
    left: 524px;
  }

  .benefits-content1 {
    left: -393px;
    top: -121px;
  }

  .benefits-content2 {
    top: -328px;
  }

  .benefits-content3 {
    right: 306px;
    top: -236px;
  }

  .benefits-content4 {
    right: -40px;
    bottom: 218px;
  }

  /* Index Section ends here  */

  /* About us Section starts here  */

  .hero-text h1 {
    font-size: 118px;
    right: -3px;
  }

  .about-us-image img {
    width: 380px;
    left: 314px;
  }

  .heading {
    left: 270px;
    top: -515px;
  }

  .sub-heading {
    left: 170px;
    top: -408px;
  }

  #about-us-content-id {
    left: -268px;
    top: -339px;
  }

  #about-us-content-id-1 {
    left: 246px;
    top: -345px;
  }

  #about-us-content-id-2 {
    left: 257px;
    top: -352px;
  }

  #about-us-content-id-3 {
    left: 281px;
    top: -349px;
    text-align: center;
  }

  .about-us-team-image img {
    width: 380px;
    left: 314px;
  }

  .heading-team {
    left: 384px;
  }

  #team-content {
    left: 235px;
  }

  #team-content-1 {
    left: 237px;
  }

  #team-content-2 {
    right: 251px;
    bottom: -147px;
  }

  #team-content-3 {
    right: -259px;
    background-origin: -138px;
  }

  #about-us-team {
    height: 1107px;
  }

  /* About us ends here  */

  /* Products starts here  */

  .hero-text-product h1 {
    font-size: 118px;
    right: 4px;
  }
}

@media (min-width: 1200px) {
  .content1 {
    top: -394px;
  }

  .content2 {
    left: 198px;
    top: -396px;
  }

  .content3 {
    left: -52px;
    top: -309px;
  }

  .content4 {
    left: 184px;
    top: -318px;
  }

  .benefits {
    width: 36%;
    top: -39px;
    left: 725px;
  }

  .benefits-content4 {
    right: 621px;
    bottom: 134px;
  }

  /* Index section ends here  */

  /* About us section starts here  */

  .hero-text {
    left: 394px;
  }

  .about-us-image img {
    width: 420px;
    left: 128px;
    top: -200px;
  }

  .content-about {
    position: relative;
    /* background: rebeccapurple; */
    top: -765px;
    display: inline-block;
    left: 480px;
    width: 60%;
    height: 90%;
  }

  .heading {
    left: 216px;
    top: -56px;
  }

  .sub-heading {
    left: 127px;
    top: 50px;
    text-align: justify;
  }

  #about-us-content-id {
    left: 222px;
    top: 61px;
    text-align: justify;
  }

  #about-us-content-id-1 {
    left: 223px;
    top: 70px;
    text-align: justify;
  }

  #about-us-content-id-2 {
    left: 224px;
    top: 60px;
    text-align: justify;
  }

  #about-us-content-id-3 {
    left: 226px;
    top: 50px;
    text-align: justify;
  }

  .about-us-team-image img {
    width: 420px;
    left: 700px;
    top: -148px;
  }

  .content-team {
    position: relative;
    top: -564px;
    display: inline-block;
    width: 60%;
    /* background: rebeccapurple; */
    height: 48%;
  }

  .heading-team {
    left: 43px;
    top: 0;
    display: inline-block;
  }

  #team-content {
    left: -162px;
    text-align: justify;
    top: 108px;
  }

  #team-content-1 {
    left: 59px;
    top: 103px;
    text-align: justify;
  }

  #team-content-2 {
    right: -57px;
    bottom: -79px;
    /* text-align: justify; */
  }

  .team-content-3 {
    text-align: justify;
  }

  #team-content-3 {
    right: -56px;
    text-align: justify;
  }

  #about-us-team {
    height: 539px;
  }

  /* About us Section Ends Here  */

  /* Product Section Starts Here  */

  .hero-text-product h1 {
    right: -106px;
  }
}

@media (min-width: 1920px) {
  .caption h1 {
    font-size: 120px;
  }

  .tagline {
    font-size: 18px;
    top: 58px;
  }

  .benefits {
    width: 23%;
    top: -37px;
    left: 1264px;
  }

  .benefits-content1 {
    font-size: 12px;
    text-align: justify;
  }

  .benefits-content2 {
    top: -31px;
    left: -861px;
    font-size: 12px;
    text-align: justify;
  }

  .benefits-content3 {
    right: 1334px;
    top: 41px;
    font-size: 12px;
    text-align: justify;
  }

  .benefits-content4 {
    right: -46px;
    bottom: 192px;
    font-size: 12px;
    text-align: justify;
  }

  /* Index section Ends here  */
  /* About section starts here  */

  .hero-text h1 {
    font-size: 120px;
    right: -350px;
  }

  .about-us-image img {
    width: 542px;
    top: -72px;
  }

  #about-us-content-id {
    left: 136px;
    top: 209px;
    text-align: justify;
  }

  .sub-heading {
    left: 562px;
    top: -83px;
    text-align: justify;
  }

  .heading {
    left: 651px;
    top: -193px;
  }

  .content-about {
    top: -685px;
    left: 554px;
  }

  .about-us-team-image img {
    width: 542px;
    left: 1182px;
  }

  .heading-team {
    top: -268px;
  }

  .content-team {
    top: -607px;
    left: 119px;
  }

  /* About section ends here  */
  /* Product section starts here  */
  .hero-text-product h1 {
    right: -460px;
    font-size: 120px;
  }
}
