/* Media 320px Starts here  */
/*  */
/*  */
@media (min-width: 320px)  {
  .caption {
    position: relative;
    top: 60px;
  }
  .caption h1 {
    font-size: 40px;
    top: 0;
  }
  .logo {
    position: relative;
    left: 19px;
  }
  .tagline {
    font-size: 9.5px;
    top: 0;
    left: 34px;
    display: inline;
  }
  .hero-buttons {
    top: 10px;
  }
  .history-image {
    width: 100%;
  }
  .history {
    height: 1220px;
  }
  .content1{
    left: -6px;
    top: 22px;
    text-align: center;
    width: 103%;
    font-size: 12px;
  }
  .content2{
    left: -7px;
    top: 40px;
    text-align: center;
    width: 104%;
    font-size: 12px;
  }
  .content3{
    left: -7px;
    text-align: center;
    width: 104%;
    font-size: 12px;
    top: 64px;

  }

  .content4{
    left: -7px;
    width: 104%;
    font-size: 12px;
    text-align: center;
    top: 94px;
  }
  .benefits{
    left: 0;
    width: 100%;
    top: -27px;
  }
  .benefits-content1{
    left: 15px;
    top: 0;
    text-align: center;
    width: 91%;
    font-size: 12px;

  }
  .benefits-content2{
    left: 15px;
    top: 0;
    text-align: center;
    width: 91%;
    font-size: 12px;
  }
  .benefits-content3{
    top: 0;
    left: 15px;
    text-align: center;
    font-size: 12px;
    width: 91%;
  }
  .benefits-content4{
    right: -15px;
    bottom: 0px;
    text-align: center;
    font-size: 12px;
    width: 91%;
  }
  #benefits{
    height: 941px;
  }

.image1{
  left: 215px;
  top: -687px;
}
/* Index section ends here  */
/* About us section starts here  */

.hero-text{
  left: 65px;
  top: 90px;
  display: inline-block;
}
.hero-text h1{
  font-size: 60px;
  right: 0;
}
.about-us-image img{
  left: 0;
  top: -169px;
  width: 100%;
  height: auto;
}
.heading {
  left: 9px;
  top: -452px;
}
.sub-heading {
  left: 2px;
  text-align: justify;
  bottom: 456px;
  width: 315px;
  display: inline-block;
}
.sub-heading h1{
  font-size: 38px;
}
#about-us-content-id {
  left: 10px;
  width: 303px;
  bottom: 440px;
  text-align: justify;
}
.about-us-team-image img{
  width: 100%;
  top: 109px;
  position: relative;

}
#team-content{
  width: 290px;
  left: 15px;
  top: 115px;
}
.heading-team{
  left: 72px;
  width: 192px;
  top: 110px;
}

#about-us-team{
  height: 1070px;
}
/* About us section ends here  */
/* Product section starts here  */
.hero-text-product{
  left: 65px;
}
.hero-text-product h1{
  font-size: 60px;
  right: 0;
}
/* Product section ends here  */
}

/* Media 320px Ends Here  */
/*  */
/*  */

/* Media 375px Starts  */
/*  */
/*  */

@media (min-width: 375px){
  .tagline{
    left: 62px;
  }
  #about-us-content-id{
    bottom: 400px;
  }
  .sub-heading{
    bottom: 410px;
  }
  .heading{
    top: -413px;
  }
}

/* Media 375px Ends here  */
/*  */
/*  */


@media (min-width: 412px){
  .tagline{
    left: 80px;
  }
  .history{
    height: 1296px;
  }
  .hero-text{
    left: 105px;
  }
  #about-us-team{
    height: 1445px;
  }
  #team-content{
    top: 321px;
  }
  .heading-team{
    left: 107px;
    top: 285px;
  }
  .about-us-team-image img{
    top: 262px;
  }
  #about-us-content-id{
    bottom: 287px;
  }
  .sub-heading{
    bottom: 302px;
  }
  .heading{
    top: -302px;
  }
  .hero-text-product{
    left: 115px;
  }
}


@media (min-width: 425px){
  .history{
    height: 1328px;
  }
  .benefits{
    top: -51px;
    width: 93%;
  }
  #benefits{
    height: 1017px;
  }
  .hero-buttons{
    top: 88px;
  }
  .tagline{
    top: 51px;
    left: 105px;
    text-align: center;
  }
  .caption{
    top: 103px;
  }
  .caption h1{
       font-size:50px;
  }

  .benefits-content1{
    left: 15px;
    top: -30px;
    text-align: justify;
    width: 65%;
    font-size: 12px;
  }
  .benefits-content2{
    left: 15px;
    top: -33px;
    text-align: justify;
    width: 65%;
    font-size: 12px;
  }
  .benefits-content3{
    top: -23px;
    left: 15px;
    text-align: justify;
    font-size: 12px;
    width: 65%;
  }
  .benefits-content4{
    right: -15px;
    bottom: 10px;
    text-align: justify;
    font-size: 12px;
    width: 65%;
  }
   
  
  /* Index section ends here  */
  /* About us section starts here  */
  .hero-text{
    left: 115px;
    top: 160px;
  }
  #about-us-content-id{
    left: 16px;
    width: 393px;
    bottom: 371px;
    text-align: center;
  }
  .sub-heading{
    left: 57px;
    text-align: center;
    bottom: 368px;
  }
  .heading{
    left: 60px;
    top: -366px;
  }
  .about-us-team-image img{
    top: 131px;
  }
  .heading-team{
    left: 110px;
    top: 149px;
    text-align: center;
  }
  #team-content{
    width: 393px;
    left: 17px;
    top: 178px;
    text-align: center;
  }
  /* About us section ends here  */
  /* Product section starts here  */
  .hero-text-product{
    left: 120px;
    top: 198px;
  }
}

@media (min-width: 576px) {
  .caption{
    top: 60px;
 }
  .caption h1 {
    font-size: 50px;
    /* top: 91px; */
  }

  .tagline {
    font-size: 10px;
    top: 22px;
    left: 150px;
  }

  .hero-buttons {
    top: 59px;
  }
  .history-image{
    width: 50%;
  }
  .history{
    height: 1078px;
  }

  .image1 {
    display: none;
  }

  .image2 {
    display: none;
  }

  .image3 {
    display: none;
  }


  .content1 {
    left: -6px;
    top: 15px;
    text-align: center;
    font-size: 15px;
    text-align: center;
  }

  .content2 {
    left: -7px;
    top: 14px;
    text-align: center;
    font-size: 15px;
  }

  .content3 {
    left: -6px;
    top: 10px;
    text-align: center;
    font-size: 15px;
  }

  .content4 {
    left: 0px;
    top: 19px;
    text-align: center;
    font-size: 15px;
  }

  .benefits {
    width: 59%;
    top: -44px;
    left: 163px;
  }

  .benefits-content1 {
    left: 0px;
    top: -12px;
    font-size: 13px;

    width: 100%;
    text-align: center;
  }

  .benefits-content2 {
    left: 0px;
    top: 12px;
    font-size: 13px;
    width: 100%;
    text-align: center;
  }

  .benefits-content3 {
    left: 0px;
    top: 36px;
    text-align: center;
    width: 100%;
    font-size: 13px;
  }

  .benefits-content4 {
    right: -39px;
    bottom: -71px;
    font-size: 13px;
    text-align: center;
  }

  /* Index section ends here  */

  /* About us section starts here  */

  .hero-text {
    left: 298px;
    top: 146px;
    font-size: 50px;
  }

  .hero-text h1 {
    font-size: 50px;
    position: relative;
    right: 95px;
    color: #ffffff;
  }

  .about-us-image img {
    width: 332px;
    height: auto;
    left: 131px;
    top: -233px;
  }

  .heading {
    left: 144px;
    top: -504px;
  }

  .sub-heading {
    left: 137px;
    bottom: 511px;
    text-align: center;
  }

  .about-us-contact1 {
    text-align: center;
    font-size: 15px;
  }

  #about-us-content-id {
    left: 100px;
    bottom: 476px;
  }

  #about-us-content-id-1 {
    left: 61px;
    text-align: center;
    font-size: 15px;
  }

  #about-us-content-id-2 {
    left: 70px;
    text-align: center;
  }

  #about-us-content-id-3 {
    left: 91px;
  }

  .about-us-team-image img {
    width: 332px;
    height: auto;
    position: relative;
    left: 132px;
    top: 20px;
  }

  .heading-team {
    left: 197px;
    top: 65px;
    text-align: center;
  }

  #team-content {
    bottom: 77px;
    left: 99px;
    text-align: center;
  }

  #team-content-1 {
    bottom: -91px;
    left: 49px;
    text-align: center;
  }

  #team-content-2 {
    bottom: -67px;
    right: -57px;
    text-align: center;
  }

  #team-content-3 {
    bottom: -52px;
    right: -60px;
    text-align: center;
  }

  #about-us-team {
    background: black;
    height: 946px;
  }

  /* About Section Ends Here  */

  /* Product Section Starts Here  */

  .hero-text-product {
    left: 310px;
    top: 150px;
  }

  .hero-text-product h1 {
    font-size: 50px;
    position: relative;
    right: 95px;
  }
}

@media (min-width: 768px) {
  .caption{
    top: 91px;
  }
  .tagline{
    top: 51px;
    left: 256px;
    text-align: center;
  }
  .image3{
    left: -149px;
    top: -1500px;
  }
  .history-image{
    width: 35%;
  }
  .content1 {
    left: -33px;
    top: -296px;
    width: 37%;
  }

  .content2 {
    left: 198px;
    top: -306px;
    width: 39%;
  }

  .content3 {
    left: -20px;
    top: -294px;
    width: 34%;
  }

  .content4 {
    left: 213px;
    top: -312px;
    width: 39%;
  }

  .history {
    height: 536px;
  }

  .benefits {
    top: -29px;
    left: 413px;
    width: 45%;
  }

  .benefits-content1 {
    left: 12px;
    top: -357px;
    font-size: 11px;
    width: 56%;
    text-align: justify;
  }

  .benefits-content2 {
    left: 11px;
    top: -340px;
    font-size: 11px;
    width: 56%;
    text-align: justify;
    display: inline-block;
  }

  .benefits-content3 {
    right: -10px;
    top: -330px;
    font-size: 11px;
    width: 56%;
    text-align: justify;
    display: inline-block;
    left: 10px;
  }

  .benefits-content4 {
    right: -9px;
    bottom: 307px;
    font-size: 11px;
    width: 56%;
    display: inline-block;
    text-align: justify;
  }

  #benefits {
    height: 495px;
  }

  /* Index ends  here  */

  /* About us Starts here  */

  .hero-text{
    left: 268px;
  }
  .hero-text h1 {
    font-size: 80px;
    right: 0px;
  }

  .about-us-image img {
    width: 310px;
    left: 234px;
    top: -233px;
  }

  .sub-heading {
    left: 138px;
    display: inline-block;
    top: -479px;
  }

  .heading {
    left: 225px;
    display: inline-block;
    top: -575px;
  }

  #about-us-content-id {
    left: 189px;
    display: inline-block;
    top: -431px;
    text-align: center;
  }

  #about-us-content-id-1 {
    left: 155px;
    top: -408px;
  }

  #about-us-content-id-2 {
    left: 161px;
    top: -402px;
  }

  #about-us-content-id-3 {
    left: 191px;
    top: -402px;
    text-align: center;
  }

  .about-us-team-image img {
    width: 310px;
    left: 234px;
  }

  .heading-team {
    left: 279px;
  }

  #team-content {
    left: 182px;
    display: inline-block;
  }

  #team-content-1 {
    left: 130px;
  }

  #team-content-2 {
    right: -139px;
  }

  .team-content-3 {
    text-align: center;
  }

  #team-content-3 {
    right: -140px;
  }

  /* About us Ends here  */

  /* Product starts here  */

  .hero-text-product h1 {
    font-size: 80px;
    right: 50px;
  }
  .hero-text-product{
    left: 313px;
  }

  /* Product Ends Here  */

  /* Footer starts here  */

  .footer-pad {
    position: relative;
    left: -43px;
  }
}

@media (min-width:  958px){
  .caption{
    top: 171px;
    right: -177px;
    display: inline-block;
  }
  .caption h1{
    font-size: 90px;
    top: 0;
  }
  .tagline{
    left: 227px;
    font-size: 16px;
    top: 136px;
    display: inline-block;
  }
  .hero-buttons{
    top: 163px;
  }
  .benefits{
    top: -33px;
    left: 477px;
    width: 49%;
  }
  .benefits-content1{
    left: 12px;
    top: -510px;
    font-size: 11px;
    width: 56%;
    text-align: justify;
  }

  .benefits-content2{
    left: 9px;
    top: -494px;
    font-size: 11px;
    width: 56%;
    text-align: justify;
    display: inline-block;
  }
  .benefits-content3{
    top: -479px;
    font-size: 11px;
    width: 56%;
    text-align: justify;
    display: inline-block;
    left: 7px;
  }
  .benefits-content4{
    right: -8px;
    bottom: 460px;
    font-size: 11px;
    width: 56%;
    display: inline-block;
    text-align: justify;
  }


  .image1{
    top: -829px;
  }
  /* Index section ends here  */
  /* About us section starts here  */
  .hero-text{
    left: 340px;
  }
  .hero-text h1{
    right: 0;
  }
  .about-us-image img{
    width: 380px;
    left: 288px;
    top: -165px;
  }
  .sub-heading{
    left: 239px;
    top: -479px;
  }
  .heading{
    left: 330px;
  }

  #about-us-content-id{
    left: -111px;
    top: -165px;
  }
  .about-us-team-image img{
    width: 380px;
    left: 304px;
    top: 147px;
  }
  .heading-team{
    left: 393px;
    display: inline-block;
    top: -182px;
  }
  #team-content{
    left: 92px;
    display: inline-block;
    top: 248px;
  }
  /* About us section ends here  */
  /* Product section starts here  */
  .hero-text-product{
    left: 354px;
  }
  .hero-text-product h1{
    right: 0;
  }
  #about-us-team{
    height: 1041px;
  }
}

@media (min-width: 992px) {
  .history-image {
    width: 25%;
    position: relative;
    left: -16px;
    top: -17px;
  }
  .content2{
    left: 229px;
  }
  .content4{
    left: 258px;
  }

  .benefits {
    top: -39px;
    left: 524px;
    width: 43%;
  }

  .benefits-content1 {
    left: -393px;
    top: -121px;
  }

  .benefits-content2 {
    top: -328px;
    left: 36px;
  }

  .benefits-content3 {
    /* right: 36x; */
    top: -305px;
    left: 34px;
  }

  .benefits-content4 {
    right: -33px;
    bottom: 287px;
  }

  /* Index Section ends here  */

  /* About us Section starts here  */

  .hero-text{
    left: 310px;
  }
  .hero-text h1 {
    font-size: 118px;
    /* right: -3px; */
  }

  .about-us-image img {
    width: 380px;
    left: 314px;
  }

  .heading {
    left: 344px;
    top: -630px;
  }

  .sub-heading {
    left: 248px;
    top: -534px;
  }

  #about-us-content-id {
    left: -106px;
    top: -175px;
  }

  #about-us-content-id-1 {
    left: 246px;
    top: -345px;
  }

  #about-us-content-id-2 {
    left: 257px;
    top: -352px;
  }

  #about-us-content-id-3 {
    left: 281px;
    top: -349px;
    text-align: center;
  }

  .about-us-team-image img {
    width: 380px;
    left: 314px;
  }

  .heading-team {
    left: 411px;
  }

  #team-content {
    left: 113px;
  }

  #team-content-1 {
    left: 237px;
  }

  #team-content-2 {
    right: 251px;
    bottom: -147px;
  }

  #team-content-3 {
    right: -259px;
    background-origin: -138px;
  }

  #about-us-team {
    height: 1107px;
  }

  /* About us ends here  */

  /* Products starts here  */

  .hero-text-product h1 {
    font-size: 118px;
    right: 4px;
  }
  .hero-text-product{
    left: 327px;
  }
}






@media (min-width: 1024px){
  .caption{
    top: 108px;
  }
  .tagline{
    left: 256px;
    font-size: 15px;
    top: 91px;
  }
  .benefits{
    top: -32px;
    left: 588px;
    width: 35%;
  }
  .benefits-content1{
    left: 15px;
    top: -378px;
    font-size: 12px;
  }
  .benefits-content2{
    top: -375px;
    font-size: 12px;
  }
  .benefits-content3{
    top: -370px;
    font-size: 12px;
  }
  .benefits-content4{
    right: -10px;
    bottom: 359px;
    font-size: 12px;
  }
  .caption h1{
    font-size: 100px;
  }
  .hero-buttons{
    top: 162px;
  }
  .image1{
    left: 215px;
    top: -355px;
  }
  .image2{
    left: -397px;
    top: 109px;
  }
  .image3{
    left: 512px;
    top: -311px;
  }
  
  /* Index Section Ends Here  */

  /* About us Section Starts here  */

  .hero-text h1{
    right: 0px;
  }
  .about-us-image img {
    width: 375px;
    left: 76px;
    top: -159px;
}
.sub-heading{
  left: 448px;
  top: -890px;
  text-align: justify;
}
.heading{
  left: 536px;
  top: -987px;
}
#about-us-content-id{
  left: 139px;
  top: -577px;
  text-align: justify;
}
.about-us-team-image img{
  width: 380px;
  left: 573px;
  top: -163px;
}
.heading-team{
  left: 50px;
  top: -927px;
}
#team-content{
  left: -142px;
  top: -495px;
  text-align: justify;
}
#about-us-team{
  height: 435px;
}
}


@media (min-width: 1200px) {
  .caption{
    top: 108px;
    right: -272px;
  }
  .tagline {
    left: 355px;
    font-size: 15px;
    top: 91px;
}
  .content1 {
    top: -394px;
  }

  .content2 {
    left: 272px;
    top: -396px;
  }

  .content3 {
    left: -21px;
    top: -309px;
  }

  .content4 {
    left: 304px;
    top: -318px;
  }

  .benefits {
    width: 44%;
    top: -70px;
    left: 665px;
  }

  .benefits-content1{
    left: 15px;
    top: -559px;
    font-size: 12px;
  }
  .benefits-content2{
    top: -550px;
    left: 16px;
  }

  .benefits-content3{
    top: -535px;
    left: 17px;
  }

  .benefits-content4 {
    right: -18px;
    bottom: 511px;
  }

  /* Index section ends here  */

  /* About us section starts here  */

  .hero-text {
    left: 394px;
  }

  .about-us-image img {
    width: 420px;
    left: 128px;
    top: -200px;
  }

  .content-about {
    position: relative;
    /* background: rebeccapurple; */
    top: -765px;
    display: inline-block;
    left: 480px;
    width: 60%;
    height: 90%;
  }

  .heading {
    left: 216px;
    top: -56px;
  }

  .sub-heading {
    left: 127px;
    top: 50px;
    text-align: justify;
  }

  #about-us-content-id {
    left: 222px;
    top: 61px;
    text-align: justify;
  }

  #about-us-content-id-1 {
    left: 223px;
    top: 70px;
    text-align: justify;
  }

  #about-us-content-id-2 {
    left: 224px;
    top: 60px;
    text-align: justify;
  }

  #about-us-content-id-3 {
    left: 226px;
    top: 50px;
    text-align: justify;
  }

  .about-us-team-image img {
    width: 420px;
    left: 700px;
    top: -148px;
  }

  .content-team {
    position: relative;
    top: -564px;
    display: inline-block;
    width: 60%;
    /* background: rebeccapurple; */
    height: 48%;
  }

  .heading-team {
    left: 30px;
    top: -335px;
    display: inline-block;
  }

  #team-content {
    left: -162px;
    text-align: justify;
    top: 108px;
  }

  #team-content-1 {
    left: 59px;
    top: 103px;
    text-align: justify;
  }

  #team-content-2 {
    right: -57px;
    bottom: -79px;
    /* text-align: justify; */
  }

  .team-content-3 {
    text-align: justify;
  }

  #team-content-3 {
    right: -56px;
    text-align: justify;
  }

  #about-us-team {
    height: 539px;
  }

  /* About us Section Ends Here  */

  /* Product Section Starts Here  */

  .hero-text-product h1 {
    right: -106px;
  }
}















@media (min-width: 1440px){
  .caption{
    top: 108px;
    left: 264px;
  }
  .tagline{
    left: 488px;
    font-size: 18px;
    top: 110px;
  }
  .caption h1{
    font-size: 140px;
  }
  .hero-buttons{
    top: 179px;
  }
  .image2{
    left: -550px;
    top: 8px;
  }
  .image1{
    left: 253px;
    top: -479px;
  }
  .image3{
    left: 720px;
    top: -470px;
  }
  .benefits{
    top: -32px;
    left: 831px;
    width: 28%;
  }
  .benefits-image{
    width: 100%;
  }
  /* Index Section ends here  */
  /* About Section starts here  */
  .hero-text{
    left: 559px;
  }
  .heading{
    left: 453px;
    top: -176px;
  }
  .sub-heading{
    left: 363px;
    top: -77px;
    text-align: justify;
  }
  #about-us-content-id{
    left: 60px;
    top: 223px;
    text-align: justify;
  }
  .about-us-image img{
    width: 532px;
  }
  .about-us-team-image img{
    width: 532px;
    left: 867px;
  }
  .heading-team{
    left: 106px;
    top: -379px;
  }
  #team-content{
    left: -95px;
    top: 49px;
  }
  /* About us Section Ends here  */
  /* Product Section Starts Here  */
  .hero-text-product h1{
    right: -221px;
  }
}




























@media (min-width: 1920px) {
  .caption h1 {
    font-size: 120px;
  }
  .caption{
    top:136px;
    left: 554px;

  }

  .tagline {
    font-size: 18px;
    top: 181px;
    left: -119px;
  }

  .image3{
    left: 951px;
    top: -677px;
  }
  .image1{
    left: 253px;
    top: -528px;
  }
  .image2{
    left: -739px;
    top: -117px;
  }

  #benefits{
    height: 594px;
  }

  .benefits {
    width: 29%;
    top: -51px;
    left: 1264px;
  }

  .benefits-content1 {
    font-size: 12px;
    text-align: justify;
    top: -178px;
    left: -542px;
  }

  .benefits-content2 {
    top: -452px;
    left: 14px;
    font-size: 12px;
    text-align: justify;
  }

  .benefits-content3 {
    left: 14px;
    top: -440px;
    font-size: 12px;
    text-align: justify;
  }

  .benefits-content4 {
    right: -14px;
    bottom: 427px;
    font-size: 12px;
    text-align: justify;
  }

  /* Index section Ends here  */
  /* About section starts here  */

  .hero-text {
    left: 775px;
}
.hero-text h1 {
  font-size: 120px;
  /* right: -350px; */
}

  .about-us-image img {
    width: 542px;
    top: -72px;
  }

  #about-us-content-id {
    left: 259px;
    top: 209px;
    text-align: justify;
  }

  .sub-heading {
    left: 562px;
    top: -121px;
    text-align: justify;
  }

  .heading {
    left: 651px;
    top: -220px;
  }

  .content-about {
    top: -685px;
    left: 554px;
  }

  .about-us-team-image img {
    width: 542px;
    left: 1182px;
  }

  .heading-team {
    top: -381px;
    left: 96px;
  }

  .content-team {
    top: -607px;
    left: 119px;
  }

  /* About section ends here  */
  /* Product section starts here  */
  .hero-text-product h1 {
    right: -460px;
    font-size: 120px;
  }
}

@media (min-width: 2560px){
  .caption{
    left: 900px;
  }
  .tagline{
    top: 178px;
    left: 224px;
  }
  .image1{
    left: 356px;
    top: -534px;
    width: 24%;
  }
  .image2{
    left: -766px;
    top: -158px;
    width: 24%;
  }
  .image3{
    left: 553px;
    top: -170px;
    width: 30%;
  }
  .benefits{
    width: 15%;
    top: -37px;
    left: 1445px;
  }
  .benefits-image{
    width: 115%;
  }
  .benefits-content1{
    font-size: 17px;
    left: 196px;
    top: -486px;
  }
  .benefits-content2{
    top: -483px;
    left: 192px;
    font-size: 17px;
  }
  .benefits-content3{
    top: -483px;
    font-size: 17px;
    left: 191px;
  }
  .benefits-content4{
    right: -188px;
    bottom: 476px;
    font-size: 17px;

  }
  /* Index section ends here  */
  /* About us section starts here  */
  
  .content-about{
    left: 1006px;
  }
  .hero-text{
    left: 1128px;
  }
  .hero-text h1{
    right: 0px;
  }
  .about-us-image img{
    width: 30%;
  }
  .sub-heading{
    width: 38%;
  }
  .sub-heading h1{
    font-size: 70px;
  }
  .heading{
    top: -206px;
  }
  #about-us-content-id{
    width: 45%;
    left: -15px;
    top: 312px;
  }
  .about-us-content1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    color: white;
}
#about-us-team{
  height: 902px;
}
.about-us-team-image img{
  width: 30%;
  left: 1619px;
  top: 55px;
}
.heading-team{
  width: 20%;
}
.heading-team h1{
  font-size: 70px;
}
#team-content{
  left: -184px;
  top: 206px;
  width: 45%;
}
.team-content-1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: white;
}
/* About us Section ends here  */
/* Product section starts here  */

.hero-text-product h1{
  right: -793px;
}
}